 <!-- teaching - group and sort by tag -->
    <div class="panel panel-default">
        <div class="panel-body">
            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
            {% assign tag_words = site_tags | split:',' | sort | reverse %}
            {% for semester in tag_words %}
                {% assign t = semester %}
                <h4> {{ t | slugify: 'pretty'}} </h4>
                {% assign courses = site.tags[t]%}
                {% for post in courses%}
                <div class="row">
                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src={{ post.icon }}>&nbsp;&nbsp;<strong><a href="{{ post.url }}">{{ post.title }}</a></strong> </h5>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


 <!-- related posts-->
                   <div class="related-posts">
                   <h5>Related Posts</h5>
                   {% for post in site.related_posts limit:3 %}
                        <div class="row">
                             <div class="col-sm-4 col-md-4 col-lg-4">
                                 <h6 style="text-align: right">
                                    {{ post.date | date: "%B %e, %Y" }}
                                 </h6>
                             </div>
                             <div class="col-sm-8 col-md-8 col-lg-8">
                                 <h6 style="text-align: left">
                                    <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
                                 </h6>
                             </div>
                        </div>
                    {% endfor %}
               </div>

 <!-- teaching - course list -->
{% for course in site.categories.teaching %}
    <div class="teaching-title">
        <h3>
          <strong><img src={{ course.icon }}>&nbsp;&nbsp;<a href="{{ course.url }}">{{ course.title }}</a></strong>
        </h3>
    </div>
    <!-- div class="teaching-tags">
        <h4>
            {% for tag in course.tags %}
             <span class="label label-success">{{ tag }}</span>
            {% endfor %}
        </h4>
    </div-->
{% endfor %}
