---
layout: home
---
<section id="about">
<div class="container">
	<div class="row" max-width="80%">
	  <div class="column left">
		  <div class="avatar">
			<img class="img-rounded" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Headshot" height="275px">
		  </div>
	  </div>
	  <div class="column right">
		  <h2><strong>{{ site.author }}</strong></h2>
		  <h3>{{ site.jobtitle }}</h3>
		  <h4>{{ site.office }}</h4>
          <h4>{{ site.department }}</h4>
          <h4>{{ site.university }}</h4>
    		{% include social.html %}
	  </div>
	</div>
	<div class="row">
        {% include bio.html %}
    </div>
</div>
<div class="container">
    {% include updates.html %}
</div>
</section>
