---
layout: page
title: Research
---


<div class="container">
<h2>Research Publications</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for cat in site.categories.research %}
            <div class="row">
                <h4>
                <strong>{{ cat.title }}</strong>
                </h4>
                <div class="publication">
                    {{ cat.content}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
<h2>Presentations</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for cat in site.categories.presentation %}
            <div class="row">
                <div class="publication">
                    {{ cat.content}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <h2>Education</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                {% for cat in site.categories.education %}
                <div class="row">
                    <!-- h4>
                    <strong>{{ cat.title }}</strong>
                    </h4-->
                    <div class="education">
                        {{ cat.content}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    