---
layout: page
title: Research Projects
---

<div class="container">

<h3> For more information about ongoing group projects, visit</h3>
<a href="https://tlc.ics.uci.edu"><img class="img-rounded" src="{{ site.baseurl }}static/img/TLC_logo.png" alt="TLC Lab logo" width="60%"></a>

<hr>
<h2>Ongoing Projects</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for proj in site.categories.project %}
                {% if proj.tags contains 'active' %}
                <div class="row">
                    <h3>
                    <i class="{{proj.icon}}"></i>&nbsp;&nbsp;{{ proj.title }}
                    </h3>
                    <div class="projpost">
                        {{ proj.content}}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <h2>Past Projects</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for proj2 in site.categories.project %}
            {% if proj2.tags contains 'old' %}
            <div class="row">
                <h3>
                <i class="{{proj2.icon}}"></i>&nbsp;&nbsp;{{ proj2.title }}
                </h3>
                <div class="projpost">
                    {{ proj2.content}}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>