---
layout: page
title:  Interests
---

<div class="container">
<h2>Fun Computing Resources</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            {% for r in site.categories.resources %}
            <div class="row">
                <h3>
                <i class="{{r.icon}}"></i>&nbsp;&nbsp;{{ r.title }}
                </h3>
                <div class="projpost">
                    {{ r.content}}
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

