---
layout: page
title: Teaching
---

<div class="container">
    <img class="img-rounded" src="{{ site.baseurl }}static/img/Wong-Ma_Spotlight-teaching-2048x1536-1-944x708.jpg" alt="ICS53 - In the classroom" width="60%">

    <!--div class="panel panel-default">
        <div class="panel-body">
            <div class="bio">
            </div>
        </div>
    </div-->
    
    <h2>Previous Courses Taught at <img src="{{ site.baseurl }}static/img/UCI_logo.png" alt="UCI" height="40"></h2>
    {% for course in  site.categories.teaching %}
        <div class="teaching-title">
            <h4>
            <img src={{ course.icon }}> <strong>{{ course.course_num }} -  </strong><a href="{{ course.url | prepend:site.baseurl }}">{{ course.title }}</a>
            </h4>
            <div class="teaching-tags">
                {% for tag in course.tags %}
                    <span class="label label-success">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <br>

    <h2>Courses Taught at <img src="{{ site.baseurl }}static/img/SBU_logo.png" alt="Stony Brook University" height="60"></h2>
    <h6>2006 - 2018</h6>

    {% for course in site.categories.sbu%}
        <div class="teaching-title">
            <h4>
            <img src={{ course.icon }}> <strong>{{ course.course_num }} - </strong><a href="{{ course.url | prepend:site.baseurl }}">{{ course.title }}</a>
            </h4>
        </div>
    {% endfor %}
</div>
