<section id="about">
    <div class="bio" width="80%">
        <p>I am an Associate Professor of Teaching and Vice Chair of Undergraduate Studies in the Computer Science Department at UC Irvine. </p>
        
        <p>Together with the members of the <a href="https://tlc.ics.uci.edu/">Teaching & Learning in Computing Lab</a>, my research aims to support and diversify student representation in CS, to develop illustrative teaching tools for complex computing topics, as well as create and study the effectiveness of automated teaching tools for CS education.</p>
        
        <p>Within the classroom, my goal is to create an inclusive and engaging learning environment. I continue to learn and grow as an educator through participation in the <a href="https://sigcse.org">SIGCSE technical community</a> and 
        <a href="https://dtei.uci.edu/">UCI Division of Teaching Excellence and Innovation</a>, as well as attending workshops on Active Learning, Digital Learning, and Diversity, Equity and Inclusion. 
        I was named the UCI Celebration of Teaching Deans' Honoree in 2022 and awarded the ICS Dean’s Excellence in Undergraduate Teaching Award in 2021.</p>
        
        <p>Additionally, I am the faculty advisor of the <a href="https://wics.ics.uci.edu/">Women in Information and Computer Sciences (WICS)</a> and <a href="https://ctc-uci.com/">Commit the Change (CTC)</a>, co-chair of the Computer Science and Engineering Steering Committee, and Member of the Women in Technology UCI (WiT UCI) Advisory Board.</p>

        <p>Prior to joining UC Irvine in Fall 2018, I was a teaching faculty, an undergraduate academic faculty advisor, and the 5-year BS/MS program advisor in the <a href="http://www.cs.stonybrook.edu">Computer Science Department</a> at Stony Brook University. I received the CS Department Award for Undergraduate Education in 2012 and CS Department Award for Major Contributions to Undergraduate Education in 2016.</p>

        <p>I received my Ph.D. degree in Computer Science from UCLA. My research focus was wireless and distributed embedded systems, hardware intellectual property protection, and statistical optimization.</p>

        <p>In my free time I enjoy baking, creating handmade cards, and traveling with my husband and two boys.</p>
    </div>
</section>
