<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}teaching.html">TEACHING</a></li>
        <!--li><a href="{{ site.baseurl }}mentoring.html">MENTORING</a></li-->
        <li><a href="{{ site.baseurl }}research.html">RESEARCH</a></li>
        <li><a href="{{ site.baseurl }}publications.html">PUBLICATIONS</a></li>
        <li><a href="https://drive.google.com/open?id=1dbrMUNNY3IPhkkAaq4JJur8d5jwXkOkZ&usp=drive_fs">CV</a></li>
        <li><a href="{{ site.baseurl }}resources.html">FUN</a></li>
      </ul>
    </div>
  </div>
</nav>