<div class="updates">
    <h2><strong>Current Happenings</strong></h2>
    <ul>
        <li><h4>{{ site.quarter }} Courses</h4></li>
            {% for course in site.categories.teaching %}
                {% if course.tags contains site.quartertag %}
                <img src={{ course.icon }}><strong>{{ course.course_num }}</strong> -  <a href="{{ course.url | prepend:site.baseurl }}">{{ course.title }}</a><br>                {% endif %}
            {% endfor %}
        <li><a href="https://ics.uci.edu/2024/04/17/retaining-cs-majors-predictive-modeling-and-targeted-academic-interventions">Implementing retention efforts for ICS majors</a>, supported by our NSF HSI grant</li>
        <li>UC-Mentor for two potential PhD applicants through <a href="https://www.cpp.edu/calbridge/index.shtml">Cal-Bridge</a></li>
        <li>Co-mentoring two <a href="https://dream.uci.edu/">Dream Fellows</a> with my colleague <a href="https://ics.uci.edu/people/sergio-gago-masague/">Prof. Sergio Gago-Masague</a></li>
    </ul>

    <hr>
    <p><strong>Looking for ways to get involved with ICS?</strong></p>
    <ul>
        <li>Check out an <a href="https://ics.uci.edu/student-experience/clubs-organizations/"">ICS club</a></li>
        <li>Check the monitors in <a href="https://www.google.com/maps/place/Donald+Bren+Hall,+Irvine,+CA+92617">Donald Bren Hall</a> for upcoming talks and events.</li>
        <li>Follow ICS on <a href="https://twitter.com/ucibrenics">X</a> and <a href="https://www.linkedin.com/school/uc-irvine-information-and-computer-sciences">LinkedIn</a></li>
    </ul>

    <p><strong>Are you a current or prospective PhD student?</strong> Fill out the Interest form at the <a href="https://tlc.ics.uci.edu/">Teaching & Learning in Computing Lab</a></p>

    <!--p><strong>Looking for a Letter of recommendation for gradatue school?</strong>Read here first</p-->

    <!--p><strong>Want to be an Learning Assistant in my courses?</strong></p-->
</div>

