---
layout: layout
---

<div class="container">
    <div class="blog-post">
        <h3>
          <img src={{ page.icon }}> <strong> {{ page.course_num }} -  {{ page.title }}</strong>
        </h3>
    </div>
    <div class="blog-title">
        <h6>
            {% for tag in page.tags %}
             <span class="label label-success">{{ tag }}</span>
            {% endfor %}
        </h6>
    </div>
    {% if page.courseurl or page.depturl %}
        <div class="blog-url">
                <div class="row">
                    {% if page.courseurl %}
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h4 style="text-align: right">
                            <a href="{{ page.courseurl }}">Course Webpage for Most Recent Offering</a>
                        </h4>
                     </div>
                     {% endif %}
                     {% if page.depturl %}
                     <div class="col-sm-6 col-md-6 col-lg-6">
                         <h4 style="text-align: left">
                            <a href="{{ page.depturl }}">Course Catalog Description</a>
                         </h4>
                     </div>
                     {% endif %}
                </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="coursepost">
               <hr>
               {{ content }}
               <hr>
            </div>
        </div>
    </div>
    {% include disqus.html %}
</div>
