---
layout: layout
---

<div class="container">
    <div class="blog-post">
        <h3>
          <i class="{{page.icon}}"></i> <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
        </h3>
    </div>
    {% if page.tags.length > 0  %}
    <div class="blog-title">
        <h4>
            {% for tag in page.tags %}
             <span class="label label-success">{{ tag }}</span>
            {% endfor %}
        </h4>
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="projpost">
               <hr>
              {{ content }}
               <hr>
            </div>
        </div>
    </div>
    {% include disqus.html %}
</div>
